.button {
    position: relative;
    min-width: 70px;
    min-height: 45px;
    padding: var(--input-padding-normal);
    display: inline-block;
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    vertical-align: middle;
    border: none;
    background: none;
    border-radius: 0;
    color: var(--color-white);
    font-family: var(--font-family-main);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-main);
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
}

.button:after {
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 0;
    height: 120%;
    content: '';

    transform: skewX(15deg);
    z-index: -1;
    transition: 0.6s;
}

/*.button:not(.unboxed):after {*/
    /*background: var(--color-gray-dim);*/
/*}*/

.button.buttonFill:after {
    background: var(--color-primary-active);
}

.hasHover.buttonFill:active {
    transform: translateY(1px);
    transition: 0.1s;
}

.button:focus {
    outline: 0;
}

.hasHover.button:hover,
.hasHover.button:focus {
    z-index: 1;
    font-weight: var(--font-weight-medium);
}

.hasHover.button.standart:not(.unboxed):hover,
.hasHover.button.standart:not(.unboxed):focus {
    /*background: var(--color-primary-active);*/
    box-shadow: inset 0px 0px 10px 1px var(--color-gray-dim);
    /*box-shadow: inset 0px 0px 100px 50px black;*/
}

.hasHover.button:hover:after {
    left: -10%;
    width: 120%;
}

.primary,
.secondary {
    background: var(--color-primary);
}

.primary {
    min-width: 220px;
}

.secondary {
    min-width: 125px;
    min-height: 40px;
}

.wide {
    width: 100%;
}

.unboxed {
    border: none;
    background: transparent;
    color: var(--color-gray-active);
}

.hasHover.unboxed:hover,
.hasHover.unboxed:focus {
    background: transparent;
    color: var(--color-black);
}

.button:disabled,
.button[disabled],
.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.button:not(.unboxed):disabled,
.button[disabled]:not(.unboxed),
.disabled:not(.unboxed) {
    opacity: 0.4;
    background: var(--color-black);
    cursor: not-allowed;
}

.outlineButton {
    border: 1px solid var(--color-gray-active);
    background: var(--color-white);
    color: var(--color-black);
}

.hasHover.outlineButton:focus,
.hasHover.outlineButton:hover {
    border: none;
    color: var(--color-white);
    font-weight: var(--font-weight-medium);
    box-shadow: inset 0px 0px 41px 10px rgba(0,0,0,0.4);
}

.hasHover.outlineButton:active {
    transform: translateY(1px);
    transition: 0.1s;
}

.buttonUnFill {
    color: var(--color-primary-active);
    background: transparent;
    border: 1px solid var(--color-primary-active);
}

.button.buttonUnFill:after {
    background: var(--color-primary);
    /*background: linear-gradient(to right, var(--theme-color-primary-active), var(--theme-color-primary), var(--theme-color-primary-disable));*/

}

.hasHover.buttonUnFill:focus,
.hasHover.buttonUnFill:hover {
    color: var(--theme-color-primary-filled);
    border: none;
}

.hasHover.buttonUnFill:active {
    transform: translateY(1px);
    transition: 0.1s;
}

.button.withGradient:after {

    background: linear-gradient(to right, var(--color-white), var(--theme-color-primary), var(--theme-color-primary-active));

}





/*.buttonFill {*/
    /*position: relative;*/
    /*background: var(--color-white);*/
    /*color: var(--color-black);*/
    /*border: 1px solid var(--color-black);*/
    /*overflow: hidden;*/
    /*transition: 0.6s;*/
/*}*/

/*.buttonFill:after {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: -10%;*/
    /*width: 0;*/
    /*height: 120%;*/
    /*content: '';*/
    /*background: var(--color-primary);*/
    /*transform: skewX(15deg);*/
    /*z-index: -1;*/
    /*transition: 0.6s;*/
/*}*/

/*.hasHover.buttonFill:hover {*/
    /*cursor: pointer;*/
    /*color: var(--color-white);*/
    /*z-index: 1;*/
    /*background: var(--color-primary);*/
    /*border: 1px solid var(--color-primary);*/
/*}*/

/*.hasHover.buttonFill:hover:after {*/
    /*left: -10%;*/
    /*width: 120%;*/
/*}*/
