.btn-add-customer{
    padding-top: 10em;
}

.doughnut { 
    border: 50px solid #f00;
    border-radius: 100px;
    height:100px;
    width:100px;
    text-align: center;
    vertical-align: middle
}

/* .btn-ola{
    margin-top: 10em;
} */