.button {
    position: relative;
    min-width: 70px;
    min-height: var(--form-height);
    width: 100%;
    padding: var(--input-padding-low);
    border: none;
    display: inline-block;
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    vertical-align: middle;
    border-radius: 0;
    font-family: var(--font-family-main);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-main);
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    transition:
            background 5s cubic-bezier(0.19, 1, 0.22, 1),
            border 1s cubic-bezier(0.19, 1, 0.22, 1),
            color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    user-select: none;
    background-color: var(--theme-color-primary);
    color: var(--theme-color-primary-filled);
}

.button .mask {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: var(--theme-color-primary-filled);
    z-index: 1;
    opacity: .99;
    transform: translate3d(-100%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.button .icon {
    display: inline-block;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    color: var(--theme-color-primary);
}

.button:hover {
    background-color: var(--theme-color-primary);
    border: none;
    font-weight: var(--font-weight-medium);
    color: var(--theme-color-primary-filled);
    box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
    transition: background 0s, font-weight 0.5s, color 0.5s;
}

.button:hover .mask {
    background-color: var(--theme-color-primary-filled);
    transform: translate3d(70%, -50px, 0) rotate3d(0, 0, 1, 90deg);
}
.button:focus .icon,
.button:active .icon,
.button:hover .icon {
    transform: translateX(35px);
    color: var(--theme-color-primary-filled);
}
.button:focus,
.button:active {
    background-color: var(--theme-color-primary);
    color: var(--theme-color-primary-filled);
    font-weight: var(--font-weight-medium);
}

.icon {
    color: var(--theme-color-primary);
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    z-index: 100;
}

.loader {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}
