@import '../../../shared/styles/variables.css';
/*
OLD CLASSES - NEED REVIEW
*/

.quickActions {
    margin: 0;
    padding:0;
    display: flex;
}

.mobileButtons > li {
    border-right: 1px solid var(--theme-color-header-bg-hover);
}

.mobileButtons > li:first-child {
    border-left: 1px solid var(--theme-color-header-bg-hover);
}

.quickActions > li {
    display: inline-block;
    width: 100%;
    max-width: 80px;
    text-align: center;
    margin: 0;
    padding: 0 15px;
    cursor: pointer;
    color: var(--theme-color-header);
    font-size: var(--font-size-5);
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-medium);
    line-height: calc( var(--header-height-md) - 2px );
}

@media (--layout-sm) {
    .quickActions > li {
        width: auto;
        max-width: none;
    }
}

.quickActions > li:hover{
    background: var(--theme-color-header-bg-hover);
    border-bottom: 2px solid var(--theme-color-header);
    color:  var(--theme-color-header-hover);
    font-weight: var(--font-weight-bold);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.quickActions > li > i {
    display: none;
}

.quickActions > li:hover > i {
    display: inline;
}

.quickActions > li:active{
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    font-weight: var(--font-weight-main);
}
