.wrapper {
    position: relative;
    width: 20px;
    height: 20px;
}

.wrapper::before,
.wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 2px;
    transform-origin: top;
    display: block;
    background-color: black;
    border-radius: 2px;
}

.wrapper::before {
    transform: rotate(-45deg) translateY(-50%);
}

.wrapper::after {
    transform: rotate(45deg) translateY(-50%);
}

.dark-green::before,
.dark-green::after {
    background-color: var(--color-green-active);
}

.blue::before,
.blue::after {
    background-color: var(--color-blue-light-active);
}

.dark-yellow::before,
.dark-yellow::after {
    background-color: var(--color-yellow-active);
}

.danger::before,
.danger::after {
    background-color: var(--theme-color-danger-disabled);
}

.danger:hover::before,
.danger:active::before,
.danger:active::after,
.danger:hover::after {
    background-color: var(--theme-color-danger);
}

.success::before,
.success::after {
    background-color: var(--theme-color-success-disabled);
}

.success:hover::before,
.success:active::before,
.success:active::after,
.success:hover::after {
    background-color: var(--theme-color-success);
}

.warning::before,
.warning::after {
    background-color: var(--theme-color-warning-disabled);
}

.warning:hover::before,
.warning:active::before,
.warning:active::after,
.warning:hover::after {
    background-color: var(--theme-color-warning);
}

.info::before,
.info::after {
    background-color: var(--theme-color-info-disabled);
}

.info:hover::before,
.info:active::before,
.info:active::after,
.info:hover::after {
    background-color: var(--theme-color-info);
}