.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: var(--font-size-6);
}

.menu a {
    color: var(--theme-color-menu);
}

.menu > li {
    position: relative;
    margin: 0;
}

.menu > li:hover > a,
.menu > li:active > a {
    color: var(--theme-color-menu-active);
    background: var(--theme-color-menu-bg-active);
    border-left: 3px solid var(--theme-color-header-bg);
    padding-left: 12px;
}

.menu > li > a {
    padding: 12px 5px 12px 15px;
    display: flex;
    flex-direction: row;
}

.open {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.expand {
    height: auto;
    display: block;
    transition: all var(--transition-ease-in-out-slow);
}

.collapse {
    height: 0;
    display: none;
    transition: all var(--transition-ease-in-out-slow);
}
