.fc-toolbar{
    /* text-transform: capitalize */
   
}

.fc-header-toolbar{
    padding-bottom: 0;
}

.fc-center > h2{
    font-size: 2.2rem;
}

.fc-left  {
    font-size: 1.2rem;
}

.fc-right {
    font-size: 1.2rem;
}

/* .fc-header-toolbar {
    margin-bottom: 0rem !important; 
} */

.tag-name{
margin-right: 10px;
}

.fc-past{
    background: #F5F5F5;
}

/* .fc-left > :first-child{
    font-size: 2.5rem ;
} */