.fc-toolbar{
    /* text-transform: capitalize */
   
}

/* .fc-header-toolbar {
    margin-bottom: 0rem !important; 
} */

.tag-name{
margin-right: 10px;
}

.fc-past{
    background: #F5F5F5;
}

/* .fc-left > :first-child{
    font-size: 2.5rem ;
} */