
.icon {
    vertical-align: middle;
    margin-right: 8px;
    width: 1.4rem !important;
}

.active {
    padding-left: 12px !important;
    border-left: 3px solid var(--theme-color-header-bg);
    color: var(--theme-color-menu-active) !important;
    background: var(--theme-color-menu-bg-active);
}

.label {
    vertical-align: middle;
}

.notification {

}
