
.icon {
    vertical-align: middle;
    margin-right: 8px;
    width: 1.4rem !important;
    flex: 1 1 0;
}

.active {
    padding-left: 12px !important;
    border-left: 3px solid var(--theme-color-header-bg);
    color: var(--theme-color-menu-active) !important;
    background: var(--theme-color-menu-bg-active);
}

.menu:hover .label-collapsed {
    margin: -4px 12px;
    padding: 4px;
    color: white;
    background: darkslategrey;
    border-radius: 5px;
    visibility: visible;
}

.label {
    flex: 1 1 90%;
}

.label-collapsed {
    margin-left: 12px;
    visibility: hidden;
}

.notification {

}
