@import '../../shared/styles/variables.css';

.brand {
    background: var(--theme-color-header-bg-hover);
    color: var(--theme-color-header);
    -webkit-transition: width var(--transition-ease-in-out-default);
    -o-transition: width var(--transition-ease-in-out-default);
    transition: width var(--transition-ease-in-out-default);
    display: block;
    float: left;
    height: var(--header-height-md);
    font-size: var(--font-size-8);
    line-height: var(--header-height-md);
    text-align: center;
    width: var(--sidebar-width-md);
    font-family: var(--font-family-brand);
    padding: 0 5px;
    font-weight: var(--font-weight-ligther);
    overflow: hidden;
}

.largeLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.miniLogo {
    display: none;
}

.sidebarToggle {
    float: left;
    background: transparent none;
    padding: 15px 15px;
    color: var(--theme-color-header);
}

.sidebarToggle:hover {
    background: var(--theme-color-header-bg-hover);
}

.sidebarToggle:focus,
.sidebarToggle:active {
    background: transparent;
}

.navBar {
    -webkit-transition: margin-left var(--transition-ease-in-out-default);
    -o-transition: margin-left var(--transition-ease-in-out-default);
    transition: margin-left var(--transition-ease-in-out-default);
    margin-bottom: 0;
    margin-left: var(--sidebar-width-md);
    border: none;
    min-height: var(--header-height-md);
    border-radius: 0;
}

.leftContainer {
    float: left;
}

.rightContainer {
    float: right;
}



