@import './variables.css';

/*
 *    ---------------------------------------------
 *    Barbershop Management App v1.0.0
 *    Author: João Gomes
 *    Website: <http://jg-webapps.pt>
 *    License: Open source - MIT
 *
 *    ---------------------------------------------
 *    Core: General Layout Style
 *
 */

html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-main);
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    line-height: var(--text-line-height);
}

*{
    box-sizing: border-box;
}

a,
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: color var(--transition-linear-default);
}

/*a:hover{*/
    /*color: var(--color-gray-active)*/
/*}*/

b,
strong {
    font-family: var(--font-weight-bold);
}