@import './custom-medias.css';

/*
    Classic Theme Constants && Variables
*/


:root {
    /* Font Families */
    --font-family-main: 'Source Sans Pro', sans-serif;
    --font-family-brand: 'Abel', sans-serif;

    /* Font Weight */
    --font-weight-ligther: 300;
    --font-weight-main: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;

    /* Font Size */
    --font-size-1: 9px;
    --font-size-2: 10px;
    --font-size-3: 11px;
    --font-size-4: 12px;
    --font-size-5: 14px;
    --font-size-6: 15px;
    --font-size-7: 16px;
    --font-size-8: 18px;
    --font-size-9: 20px;
    --font-size-10: 22px;
    --font-size-11: 25px;
    --font-size-12: 30px;
    --font-size-13: 35px;

    /* Line Height */
    --text-line-height: 1.2;

    /* Theme Colors */
    --theme-color-error: var(--color-red);
    --theme-color-lockscreen: var(--color-gray-light-active);
    --theme-color-lockscreen-bg: var(--color-white);
    --theme-color-header: var(--color-gray-light);
    --theme-color-header-hover: var(--color-white);
    --theme-color-header-bg: var(--color-primary);
    --theme-color-header-bg-hover: var(--color-primary-active);
    --theme-color-background: var(--color-gray-light);
    --theme-color-menu-header: #4b646f;
    --theme-color-menu-header-bg: #1a2226;
    --theme-color-menu: var(--color-gray);
    --theme-color-menu-active: var(--color-white);
    --theme-color-menu-bg: #222d32;
    --theme-color-menu-bg-active: var(--color-gray-dim-active);
    --theme-color-sub-menu: var(--color-gray-active);
    --theme-color-sub-menu-bg: var(--color-gray-dim);
    --theme-color-footer: #dd4b39;
    --theme-color-footer-bg: var(--color-white);
    --theme-color-footer-border: #d2d6de;
    --theme-color-primary: var(--color-primary);
    --theme-color-primary-active: var(--color-primary-active);
    --theme-color-primary-disable: #3c8dbc;
    --theme-color-card-1: #3c8dbc;
    --theme-color-card-2: #3c8dbc;
    --theme-color-card-3: #3c8dbc;
    --theme-color-card-4: #3c8dbc;
    --theme-color-card-5: #3c8dbc;


    /* Colors */
    --color-primary: var(--color-blue-light);
    --color-primary-active: var(--color-blue-light-active);
    --color-black: #111111;
    --color-black-active: #000000;
    --color-black-light: #000000;
    --color-black-light-active: #000000;
    --color-white: #fff;
    --color-gray: #b8c7ce;
    --color-gray-active: #8aa4af;
    --color-gray-dim: #2c3b41;
    --color-gray-dim-active: #1e282c;
    --color-gray-dark: #585858;
    --color-gray-light: #ecf0f5;
    --color-gray-light-active: #d2d6de;
    --color-red: #dd4b39;
    --color-red-active: #d33724;
    --color-orange:#ff851b;
    --color-orange-active:#ff7701;
    --color-yellow: #f39c12;
    --color-yellow-active: #db8b0b;
    --color-aqua: #00c0ef;
    --color-aqua-active: #00a7d0;
    --color-cyan-light: lightcyan;
    --color-blue: #0073b7;
    --color-blue-active: #005384;
    --color-blue-old-active: #367fa9;
    --color-blue-light: #3c8dbc;
    --color-blue-light-active: #357ca5;
    --color-green: #00a65a;
    --color-green-active: #008d4c;
    --color-navy: #001f3f;
    --color-navy-active: #001a35;
    --color-teal: #39cccc;
    --color-teal-active: #30bbbb;
    --color-olive: #3d9970;
    --color-olive-active: #368763;
    --color-lime: #01ff70;
    --color-lime-active: #00e765;
    --color-pink: #f012be;
    --color-pink-active: #db0ead;
    --color-purple: #605ca8;
    --color-purple-active: #555299;
    --color-maroon: #d81b60;
    --color-maroon-active: #ca195a;
    --color-modal-background: #d8d8d8;

    /* Header */
    --header-height: 3rem;
    --header-height-sm: 3rem;
    --header-height-md: 3rem;

    /* Sidebar */
    --sidebar-width-md: 230px;
    --sidebar-width-md-collapsed: 50px;
    --sidebar-width-sm-collapsed: 0px;

    /* Footer */
    --footer-height-sm: 76px;
    --footer-height-md: 105px;

    /* Animations */
    --animation-default-timeout: 500;

    /* Transitions */
    --transition-linear-default: 0.3s linear;
    --transition-ease-in-out-fast: 0.2s ease-in-out;
    --transition-ease-in-out-default: 0.3s ease-in-out;
    --transition-ease-in-out-slow: 0.5s ease-in-out;
    --transition-sidebar-expand: 1.2s ease-in-out;
    --transition-sidebar-collapse: 0.5s ease-in-out;

    /* Checkbox */
    --square-size: 14px;

    /* Inputs */
    --input-vertical-padding-normal: 12px;
    --input-horizontal-padding-normal: 20px;
    --input-padding-normal: var(--input-vertical-padding-normal) var(--input-horizontal-padding-normal);

}
