.navBar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.option {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}
